@media (min-width: 600px) {

}

.navbar-brand {
  font-weight: bold;
}
body{
  background: grey;
  margin: 0;
}

#image img{
  width: 1200px;
}

.nopadding{
    padding-left: 0px !important;
    padding-right:0px !important;
}
/*
  ========================================
  About us
  ========================================
*/


body {
  background-color: green;
   background: #cbe2c1;
   font-family: "Roboto Condensed", Times, serif;
}
.col-sm-3 img{
  padding-top: 20px;
  height:200px;
}
#about h1{
  color:green;
}

#about p,h1{
  font-family:'raleway';
}
header img{
  width: 1200px;
}

#video{
  padding-top:40px;
  margin-top:-2px;

}

/*login form*/


.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.form-control {
    border-radius: 10px;
}

/*
  ========================================
  Primary footer
  ========================================
*/

#footer
{
  background: black;
  border-style: solid;
  border-color: transparent;
  border-width: 5px;
}
